import url(//db.onlinewebfonts.com/c/02b0cfe9a43c6fc48f54c9bf6f59dbfb?family=Copyright+Klim+Type+Foundry);

@font-face {
  font-family: "Foundry";
  src: url("//db.onlinewebfonts.com/t/02b0cfe9a43c6fc48f54c9bf6f59dbfb.eot");
  src: url("//db.onlinewebfonts.com/t/02b0cfe9a43c6fc48f54c9bf6f59dbfb.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/02b0cfe9a43c6fc48f54c9bf6f59dbfb.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/02b0cfe9a43c6fc48f54c9bf6f59dbfb.woff") format("woff"), url("//db.onlinewebfonts.com/t/02b0cfe9a43c6fc48f54c9bf6f59dbfb.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/02b0cfe9a43c6fc48f54c9bf6f59dbfb.svg#Copyright Klim Type Foundry") format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Foundry", serif;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: "Foundry";
}

.main-body-container h2 {
  text-align: center;
}

.main-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.main-body-paragraph-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.main-body-image-container {
  display: flex;
}

.main-body-image-container img {
  width: 100%;
}

.navbar-container {
  top: 0;
  margin: 0;
  padding: 0;
}

.navbar-container {
  background-color: white;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand img {
  height: 65px;
  padding: 15px;
  width: auto;
}

.newsletter_banner {
  width: 100%;
}

.newsletter-intro {
  padding-left: 60px;
}

.newsletter-invite img {
  width: 20%;
}

.intro-photo {}

/* Mobile Styles */
@media only screen and (max-width: 400px) {}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-body-size {
    width: 80%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .main-body-size {
    width: 50%;
  }
}